.sect5 {
    background: linear-gradient(to bottom, #3D3D3D, #797979);
    color: #ffffff;
}

.sect5__content {
    display: flex;
    align-items: center;
}

.sect5__img {
    width: 45%;
    margin-right: 50px;
}

.sect5__info {
    margin-right: 50px;
}

.sect5__link {
    margin-top: 30px;
}

.sect5__society {
    margin-top: 30px;
}

.sect5__society img{
    width: 40px;
}
.sect5__headline {
    text-align: left;
    padding: 0;
}

@media screen and (max-width: 760px) {
    .sect5__content {
        flex-direction: column;
        align-items: flex-start;
        text-align: right;
    }
    .sect5__info {
        padding: 20px;
        align-self: flex-end;
        margin-right: 0;
    }
    .sect5__headline {
        text-align: right;
    }
    .sect5__img {
        width: 80%;
    }
    .sect5__text {
        font-size: 12px;
    }
}